* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  
}

a {
  color: rgb(31, 115, 130);
  text-decoration: underline;
}

p {
  font-size: 16px;
  color: rgb(39, 16, 216);
  font-display: bold;
}

.float-left {
  float: left;
  margin-right: 25px ;
}

.float-right {
  float: right;
  margin-left: 35px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .Portfolio {
  color: antiquewhite;
}

header nav {
  padding-top: 15px;
  margin-left: 20px;
  list-style-type: none;
  text-align: center;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  grid-column: 7 / span 6;

}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.highlight {
  color: #4800ff;
  font-weight: 700;
}

h1 {
  font-size: 35px;
  margin: 0px 0px;
  color: rgb(48, 137, 192);
  grid-column: span 6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 30px;
}
header {
  padding: 20px 40px;
  background: #fff;
  align-items: center;
}
main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}
main img {
  grid-column: span 6;
  width: 100%;
  border-radius: 6px;
}
main .aboutme {
  grid-column: 8 / span 5;
  text-align: justify;

} 
main > h2 {
  grid-column: span 3;
  text-align: left;
  font-size: 1.5em;
  padding-top: 20px;
}
main .card {
  grid-column: 1 / span 11;
  background: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0);
}
main > h4 {
  grid-column: span 6;
  text-align: left;
  font-size: 1.5em;
  padding-top: 20px;
}
main .contacts {
  grid-column: 3/ span 8;
  background: #fff;
  padding: 10px 10px;
}
main > h5 {
  grid-column: span 6;
  text-align: left;
  font-size: 1.5em;
  padding-top: 20px;
}
main .resume {
  grid-column: 3/ span 8;
  background: #fff;
  padding: 10px 10px;
}
@media screen and (max-width: 960px) {
  main img {
    grid-column: 2 / span 10;
  }
  main .welcome {
    grid-column: 3 / span 8;
    text-align: center;
  }
  main .card {
    grid-column: 3 / span 8;
  }
}