* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  display: flexbox;
  
}

a {
  color: rgb(31, 115, 130);
  text-decoration: underline;
}

p {
  font-size: 16px;
  color: rgb(39, 16, 216);
  font-display: bold;
}

.float-left {
  float: left;
  margin-right: 25px ;
}

.float-right {
  float: right;
  margin-left: 35px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  background-image: url(./images/05.jpg);

}

header h1 .Portfolio {
  color: antiquewhite;
}

header nav {
  padding-top: 15px;
  margin-left: 20px;
  list-style-type: none;
  text-align: center;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  grid-column: span 6;

}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.highlight {
  color: #4800ff;
  font-weight: 700;
}

h1 {
  font-size: 35px;
  margin: 0px 0px;
  color: rgb(48, 137, 192);
  grid-column: span 6;
 
}

.item1 { grid-area: header; }
.item2 { grid-area: aboutme; }
.item3 { grid-area: card; }
.item4 { grid-area: contacts; }
.item5 { grid-area: resume; }
.item6 { grid-area: footer; }

.grid {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'aboutme aboutme aboutme aboutme aboutme aboutme'
  'card card card card card card'
  'contacts contacts contacts resume resume resume'
  'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}

header {
  padding: 20px 40px;
  background: #fff;
  align-items: center;
}
main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}
main img {
  grid-column: span 2;
  width: 100%;
  border-radius: 6px;
}
main .aboutme {
  grid-column: 4 / span 2;
  text-align: justify;

} 
main > h2 {
  grid-column: span 6;
  text-align: left;
  font-size: 30px;
  color: #1771df;
  padding-top: 20px;
}
main .card {
  grid-column: span 3 / 1fr;
  background: #fff;
  padding: 10px 30px;
  
}

main > h3 {
  grid-column: span 6;
  text-align: left;
  font-size: 30px;
  color: #1771df;
  padding-top: 20px;
  grid-auto-rows: 200px;

} 
main .contacts {
  grid-column: span 6;
  background: rgb(71, 151, 115);
  padding: 10px 10px;
  grid-auto-rows: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
main > h5 {
  grid-column: span 6;
  text-align: left;
  font-size: 30px;
  color: #1771df;
  padding-top: 20px;
}
main .resume {
  grid-column: span 5;
  background: #fff;
  padding: 10px 10px;
  grid-auto-rows: 200px;
}

.button {
  background-color: #1771df; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {
  background-color: #0d61c8; 
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover, a:hover {
  opacity: 0.7;
}
button1:hover, a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 960px) {
  main img {
    grid-column: span 8;
  }
  main .aboutme {
    grid-column: span 8;
    text-align: center;
  }
  main .card {
    grid-column: span 8;
  }
}