* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: rgb(31, 115, 130);
  text-decoration: underline;
}

.float-left {
  float: left;
  margin-right: 25px ;
}

.float-right {
  float: right;
  margin-left: 25px;
}

header h1 {
  display: inline-block;
  font-size: medium;
}

header h1 .Portfolio {
  color: antiquewhite;
}

header nav {
  padding-top: 15px;
  margin-left: 20px;
  list-style-type: none;
  text-align: center;
  float: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;

}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.highlight {
  color: #4800ff;
  font-weight: 700;
}

h1 {
  font-size: 35px;
  margin: 0px 0px;
  color: rgb(48, 137, 192);
}

.hero {
  height: 400px;
  width: fit-content;
  margin-bottom: 25px;
  background-image: url(./images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
}